language: php
php:
  - 7.2
  - 7.3
  - 7.4
  - 8.0
  - nightly
matrix:
  fast_finish: true
  allow_failures:
     - php: nightly
install:
  - composer install --no-interaction --prefer-source
script:
  - composer test
after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./clover.xml
